/*body {
    margin: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/

@keyframes slideUp {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }

    to {
        transform: translateY(0vh);
        opacity: 1;
    }
}

.linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the container height to 100% of the viewport height */
}

.slide-up {
    animation-name: slideUp;
    animation-duration: 4.0s;
    animation-fill-mode: forwards;
}

#collectionName {
    font-size: 10vw;
    font-weight: 600;
    max-width: 100%;
}

@media only screen and (max-width: 450px) {
    #collectionName {
        font-size: 15vw;
        font-weight: 600;
    }
}